# Missing Data and Aggregations

In [9]:
import pandas as pd
import numpy as np

np.random.seed(1337)
size = 8

random_matrix = np.random.randint(1,10, (size, size))

print(f"{random_matrix.size=}")
index = np.random.choice(random_matrix.size, 10, replace=False)
print(f"{index=}")


#Type convert it to float so that we change elements to None
random_matrix = random_matrix*1.
random_matrix.ravel()[index] = None
random_matrix

random_matrix.size=64
index=array([28, 42, 17, 49, 53, 31, 35,  2, 13, 62])

array([[ 8.,  9., nan,  8.,  3.,  3.,  5.,  9.],
       [ 7.,  7.,  8.,  9.,  2., nan,  7.,  3.],
       [ 3., nan,  2.,  8.,  4.,  2.,  4.,  4.],
       [ 5.,  9.,  9.,  8., nan,  2.,  7., nan],
       [ 5.,  3.,  6., nan,  5.,  3.,  4.,  3.],
       [ 5.,  9., nan,  4.,  9.,  9.,  8.,  5.],
       [ 4., nan,  2.,  3.,  1., nan,  9.,  3.],
       [ 2.,  1.,  2.,  5.,  3.,  1., nan,  8.]])

In [10]:
pd.DataFrame(random_matrix, index= [f"Player{i}" for i in range(1, size+1)], colums=[f"Round{i}" for i in range(1, size+1)])

     0    1    2    3    4    5    6    7
0  8.0  9.0  NaN  8.0  3.0  3.0  5.0  9.0
1  7.0  7.0  8.0  9.0  2.0  NaN  7.0  3.0
2  3.0  NaN  2.0  8.0  4.0  2.0  4.0  4.0
3  5.0  9.0  9.0  8.0  NaN  2.0  7.0  NaN
4  5.0  3.0  6.0  NaN  5.0  3.0  4.0  3.0
5  5.0  9.0  NaN  4.0  9.0  9.0  8.0  5.0
6  4.0  NaN  2.0  3.0  1.0  NaN  9.0  3.0
7  2.0  1.0  2.0  5.0  3.0  1.0  NaN  8.0